$primary-color: #202c36;
$secondary-color: #2a3944;
$button-color: #184461;
$border-radius: 10px;
$button-hover: #1d7779;

$light-primary-color: #81bdea;
$light-secondary-color: #abe1ff;
$light-button-color: #4380b9;
$light-button-hover: #439db9;
