.card {
  display: flex;
  flex-direction: column;
  width: 365px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #2a3944;

  //main color = #202c36;
  //secondary color = #2a3944;;

  .card-image {
    border-radius: 10px 10px 0px 0px;
    width: 365px;
    aspect-ratio: auto 365 / 206;
    height: 206px;
    object-fit: cover;
    object-position: center;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin: 20px 0px;
    }
    .card-description {
      font-size: 18px;
      color: #999999;
      margin: 20px 0px;
    }
    .card-details {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      .card-plataform-publisher {
        p {
          margin-top: 16px;
        }
      }
      .card-genre {
        display: flex;
        align-items: center;
        margin-top: 16px;
        p {
          padding: 6px 12px;
          background-color: #184461;
          border-radius: 4px;
          font-size: 14px;
          margin-right: 8px;
        }
      }
    }
  }
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
